extends default.jade

block content
	section
		!= contents

		.service-block-list
			.service-block-list__item
				h2 iOS Apps
				p See your ideas come to life on an iPhone or iPad. Whether its the next big entertainment app or a custom business tool, you can rest comfortably knowing your needs will be met.
				a(href="#") Get on the App Store

			.service-block-list__item
				h2 Websites
				p From content sites built on Drupal to custom built applications on Node.js or Rails your needs are covered. 
				a(href="#") Get on the Internet

	section
		h2 Projects

		.project-block-list
			.project-block-list__item
				h3 Project 1
				p description
				img(src="#")

			.project-block-list__item
				h3 Project 2
				p description
				img(src="#")

			.project-block-list__item
				h3 Project 3
				p description
				img(src="#")

	section
		h2 Latest Posts

		.blog-block-list
			.blog-block-list__item
				img(src="#")
				h3 title
				p intro
				a(href="#") Read More

			.blog-block-list__item
				img(src="#")
				h3 title
				p intro
				a(href="#") Read More

			.blog-block-list__item
				img(src="#")
				h3 title
				p intro
				a(href="#") Read More
